@import '../../sass/public.scss';
.app_main {
  height: 100%;
  display: flex;
  flex-direction:column;
  .bgpic{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -11;
  }
  .headerTop{
    .right_hover{
      display: inline-block;
      margin: 0 10px;
    }
    .right_hover:hover{
        background: blue;
        color: white;
        cursor: pointer;
      }
  }
  .content{
    margin-top: 1.9rem;
    .item{
      width: 70%;
      margin: auto;
      margin-top: 0.1rem;
      display: flex;
      flex-direction: column;
      opacity: 0.7;
      background: -webkit-linear-gradient(#a57676, #bdadad); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(#a57676, #bdadad); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(#a57676, #bdadad); /* Firefox 3.6 - 15 */
      background: linear-gradient(#a57676, #bdadad); /* 标准的语法（必须放在最后） */
      .top{
        display: flex;
        height: 1.5rem;
        align-items: center;
        .name{
          padding-left: 0.2rem;
          flex-grow:2;
          text-align: left;
          font-weight: bold;
        }
        .time{
          flex-shrink:0;
          font-size: 0.5rem;
          padding-right: 0.2rem;
        }
      }
      .bottom{
        padding: 0.4rem 0.2rem;
        text-align: left;
        p{
        }
      }
    }
  }
  .moveDown,.moveUp{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background: red;
    opacity: 0.5;
    border-radius: .1rem;
    cursor: pointer;
    padding: .2rem .3rem;
    color: white;
    font-size: .6rem;
  }
  .moveUp{
    bottom: 4rem;
  }
  .mask{
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #ccc;
    margin: auto;
    opacity: 0.5;
  }
  .dialog{
    z-index: 1000;
    position: fixed;
    width: 40%;
    padding: 1rem 2rem;
    margin-top: 4rem;
    left: 50%;
    transform:translateX(-50%);
    background: #d1e0c5;
    border-radius: .2rem;
    .textarea{
      height: 6rem;
      display: block;
      width: 100%;
      margin-bottom: 0.2rem;
      resize:none;
      background: none;

    }
    input{
      display: inline-block;
      height: 1rem;
      background: none;
      border:1px solid red;

    }
    .btn{
      display: inline-block;
      height: 1rem;
      line-height: 1rem;
      background: red;
      border-radius: .1rem;
      cursor: pointer;
      padding: .1rem 1rem;
      color: white;
      font-size: .6rem;
    }
  }
}
