@import '../../sass/public.scss';
.app_main {
  height: 100%;
  display: flex;
  flex-direction:column;
  .headerTop{

  }
  .message {
    // margin-top: 1rem;
    flex-grow:2;
  }
  .bottom {
      background: -webkit-linear-gradient(left, #a9a744, #20b12b);
    width: 100%;
    // position: fixed;
    // bottom: 0;
    display: flex;
    // justify-content: space-around;
    a {
      flex-grow:1;
      text-decoration: none;
      width: 25%;
      height: 0.88rem;
      line-height: 0.88rem;
      display: inline-block;
      color: black;
    }
  }
}
