.experience{
	.msg{
		margin-top:50px;	
	}
    .lunbo{
        span:nth-child(1) {
            background: yellow;
        }
        
        span:nth-child(2) {
            background: blue;
        }
        
        span:nth-child(3) {
            background: pink;
        }
        span:nth-child(4) {
            background: green;
        }
        .content{
            /*margin: 20px;*/
        }
    }
    .second{
        flex-grow: 2;
        overflow: auto;
    }
    .videotag{
        video{
            width: 100%;
        }
    }
}