@import '../sass/public.scss';
.clear:after{
    display:block;
    content:'';
    height:0;
    clear:both;

}
.header{
      height:1.88rem;
      line-height:1.88rem;
      width:100%;
      background-color:$bgcolor;
      flex-shrink:0; /*不缩小*/
      position: fixed;
      top: 0;
      z-index: 99;
      display: flex;
      .left{
        width: 20%;
        height: 100%;
        text-align: left;
        .icon{
          display:inline-block;
          height:1.88rem;
          width:1.88rem;
          img{
            width:100%;
            vertical-align:middle;
          }
        }
        
      }
      .middle{
        flex-grow: 2;

      }
      .right{
        width: 20%;
        height: 100%;
      }
      .right:hover{
        background: blue;
        color: white;
        cursor: pointer;
      }
    }