.myNote{
  .noteList{
    flex-grow:2;
    overflow:auto;
    height:100%;
    // margin-top:0.2rem;
    
  }
    .list{
        // height: 300px;
    }
  ul{
  	li{
  		height:60px;
      background: rgba(195, 210, 52, 0.5);
  		margin-bottom:5px;
  	}
    li:nth-child(odd) {
      background: rgba(144, 139, 36, 0.5);
    }
  }
}